<h1> <%= @stock.symbol %> Stock Details </h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Trade Date:</b>
  <%= @stock.date.strftime("%a %d %b %Y") %>
</p>

<p>
  <b>Last Trade Price:</b>
  <%= @stock.time.strftime("%H:%M") %>
</p>

<p>
  <b>